<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
    <link rel='stylesheet' href='shop/main.css' />
</head>
<body>
<div id="app">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li> <a> Shop </a> </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="cart-container"> 
                    <a class="link-span dropdown-toggle" data-toggle='dropdown'><span class="glyphicon glyphicon-shopping-cart"> </span> </a> 
                    <cart-dropdown v-bind:cart="cart"></cart-dropdown>
                </li>
            </ul>
        </div>
    </nav>

    <main>
        <div class="main-content container-fluid"> 
            <div class="row" v-for="shop_row in shop_row_data">
                <div class="col-xs-4 shop-item" v-for="item in shop_row">
                    <shop-item v-bind:item="item" v-bind:cart="cart"></shop-item>
                </div>
            </div>
        </div>
    </main>
    <span> {{JSON.stringify(cart)}} </span>
</div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="shop/shop.js"></script>
</body>
</html>
