$my-gray: #f3f3f3

// Navbar, cart stuff
.navbar-default
    font-size: 20
.cart-container
    padding-right: 50
    position: relative
    display: inline-block
.cart-dropdown
    display: none

.main-content
    padding-right: 10%
    padding-left: 10%


// shop item stuff
.shop-item
    padding-top: 15
    padding-bottom: 15
.item-pic
    max-height: 100%
    max-width: 100%
.item-title
    font-size: 20
    color: blue
.item-plus
    padding-left: 10
    font-size: 18
    float: left
.item-minus
    padding-right: 10
    font-size: 18
    float: right

// generic cursor changer - used for span with onclick
.link-span
    cursor: pointer